[core]
	editor = nvim
	pager = diff-so-fancy | less --tabs=4 -RFX
	quotepath = false
[alias]
    graph = "!f() {\
        if git branch --remotes | grep gh-pages > /dev/null; then\
            git log --graph --oneline --decorate --all -40 --not origin/gh-pages;\
        else\
            git log --graph --oneline --decorate --all -40;\
        fi\
        }; f"
[user]
	name = Keita Nakamura
	email = keita.nakamura.1109@gmail.com
[github]
	user = KeitaNakamura
[credential]
	helper = store
[pull]
	rebase = false
[init]
	defaultBranch = main
[interactive]
	diffFilter = diff-so-fancy --patch
